extends layout

block content
    h1 Lista de archivos
    p Para poder entrar a este servidor a través del dominio #[code casa.lan], descarga #[a(href="archivos/hostschanger.bat") este archivo] y córrelo. Esto modificará tu archivo hosts y agregará una línea nueva.
    p Para verificar que esté bien colocada la línea, copia este texto: #[code %WINDIR%\System32\drivers\etc\] y pégalo en la barra de direcciones del explorador de Windows, y abre el archivo llamado HOSTS en un bloc de notas. Debe lucir así:
    img(src="images/newline.png")
    p Lista de #{title}
    ol
        li #[a(href="archivos/Ghost in the Shell (1995) 720p BRRiP x264 AAC [Team Nanban].mp4") Descargar] Ghost in the Shell (1995) 720p BRRiP x264 AAC [Team Nanban].mp4
        li #[a(href="archivos/Ghost in the Shell (1995) 720p BRRiP x264 AAC [Team Nanban].srt") Descargar] Ghost in the Shell (1995) 720p BRRiP x264 AAC [Team Nanban].srt
        li #[a(href="archivos/Westworld S01E01 720p HDTV x265 AAC [GWC].mkv") Descargar] Westworld S01E01 720p HDTV x265 AAC [GWC].mkv
        li #[a(href="archivos/Westworld S01E02 720p HDTV x265 AAC [GWC].mkv") Descargar] Westworld S01E02 720p HDTV x265 AAC [GWC].mkv
        li #[a(href="archivos/Westworld S01E03 720p HDTV x265 AAC [GWC].mkv") Descargar] Westworld S01E03 720p HDTV x265 AAC [GWC].mkv
        li #[a(href="archivos/Westworld S01E04 720p HDTV x265 AAC [GWC].mkv") Descargar] Westworld S01E04 720p HDTV x265 AAC [GWC].mkv
        li #[a(href="archivos/Westworld S01E05 720p HDTV x265 AAC [GWC].mkv") Descargar] Westworld S01E05 720p HDTV x265 AAC [GWC].mkv
        li #[a(href="archivos/Westworld S01E06 720p HDTV x265 AAC [GWC].mkv") Descargar] Westworld S01E06 720p HDTV x265 AAC [GWC].mkv
        li #[a(href="archivos/Westworld S01E07 720p HDTV x265 AAC [GWC].mkv") Descargar] Westworld S01E07 720p HDTV x265 AAC [GWC].mkv
        li #[a(href="archivos/Westworld S01E08 720p HDTV x265 AAC [GWC].mkv") Descargar] Westworld S01E08 720p HDTV x265 AAC [GWC].mkv
        li #[a(href="archivos/Westworld S01E09 720p HDTV x265 AAC [GWC].mkv") Descargar] Westworld S01E09 720p HDTV x265 AAC [GWC].mkv
        li #[a(href="archivos/Westworld S01E10 720p HDTV x265 AAC [GWC].mkv") Descargar] Westworld S01E10 720p HDTV x265 AAC [GWC].mkv