extends layout

block content
    h1= title
    p Página de inicio
    p #[a(href="archivos") Click aquí] para ver una lista de los archivos disponibles.
    p #[a(href="hosts") Clic aquí] para poder usar #[code casa.lan] en lugar de #[code 192.168.0.100:3000].
    p #[a(href="mensaje") Placeholder] (todavía no sirve esto)